* {
    margin: 0;
}

img {
    width: 100%;
}

/*****************************************
******************************************
******************************************
**************** Forside *****************
******************************************
******************************************
***************** START ******************/

/**** SPLASH ****/

#forside #splash_web {
    display: none;
}

#forside #splash_mobil {
    background-image: url(billeder_videoer/billede.png);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**** BOKSE ****/
#forside .tekst {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forside .col_narrow {
    background-image: url(billeder_videoer/billede.png);
    height: 250px;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1000px) {

    /**** SPLASH ****/
    #forside #splash_web {
        display: block;
    }

    #forside #splash_web video {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    #forside #splash_mobil {
        display: none;
    }

    #forside #splash_web h2 {
        position: absolute;
        left: 45%;
        top: 200px;
    }

    #forside #splash_web h1 {
        position: absolute;
        left: 45%;
        top: 280px;
    }

    /**** BOKSE ****/
    #forside .boksene {
        display: flex;
    }

    #forside .col_narrow {
        flex-grow: 1;
        flex-basis: 100px;
        margin: 20px 20px;
        height: 300px;
    }
}

/**************** SLUT *******************
******************************************
******************************************
**************** Forside *****************
******************************************
******************************************
******************************************/

/*****************************************
******************************************
******************************************
********* Underside m. knapper ***********
******************************************
******************************************
***************** START ******************/

#undersideknapper .col_narrow {
    background-image: url(billeder_videoer/billede.png);
    height: 250px;
    margin: 20px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (min-width: 1000px) {
    #undersideknapper .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #undersideknapper .col_narrow {
        margin: 20px 20px;
    }
}

/**************** SLUT *******************
******************************************
******************************************
********* Underside m. knapper ***********
******************************************
******************************************
******************************************/










/*****************************************
******************************************
******************************************
************** Underside *****************
******************************************
******************************************
***************** START ******************/

#underside .splash_billede {
    background-image: url(billeder_videoer/billede.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 200px;
}

#underside .sektioner {
    padding: 20px;
}


@media (min-width: 1000px) {
    #underside .sektioner {
        display: flex;
        flex-wrap: wrap;
    }

    #underside .sektioner_omvendt {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    .col_narrow {
        flex-grow: 1;
        flex-basis: 100px;
        margin: 20px;
    }

}


/**************** SLUT *******************
******************************************
******************************************
************** Underside *****************
******************************************
******************************************
******************************************/
